@{
    ViewBag.Title = "Home Page";
}

<div class="HomeHeader">
    <h3>Allergy Assistant</h3>
</div>

<div class="row" id="HomeTopRow">
    <div class="col-md-6" id="HomeColumns">
       <h3>Info</h3>
    </div>
    <div class="col-md-6" id="HomeColumns">
       <h3>Info</h3>
    </div>
</div>

<div class="row" id="HomeDiv">
    <div class="col-md-6" id="HomeColumns">
        <h3>Info</h3>
    </div>
    <div class="col-md-6" id="HomeColumns">
        <h3>Info</h3>
    </div>
</div>