@{
    ViewBag.Title = "Home Page";
}

<div class="HomeHeader">
    
</div>

<div class="row">
    <div class="col-md-12">
        <div id="HomeTopRow">
            <h3 class="HomeHeader">Making Allergies Manageable</h3>
            <h4>With the growing number of people with food allergies in society, the mission of Allergy Assistant is to help people manage and cope with those challenges.</h4>
            <h4>The inspiration behind this application was family members who found themselves developing new allergies and not knowing how to cope with them.</h4>
            <h4>By using this program, you can discover if you have a food allergen and what foods contain those allergens.</h4>
            <h4></h4>
        </div>        
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <div id="HomeRow1">
            <h3>Log Your Meals</h3>
            <h4>Log your meals and the application will find all the allergens in that food.</h4>
            <h4>If you feel an allergic reaction to a meal, log that reaction and the program will handle the rest.</h4>
            <h4>Add custom allergens you want to search by.</h4>
        </div>
    </div>
    <div class="col-md-5">
        <div id="HomeRow2">
            <h3>Log Restaurant Meals</h3>
            <h4>Log meals from restaurants and the application will find that meal from its own database of restaurant ingredients.</h4>
            <h4>We hope to allow users to add menus to our database and access all information in the database.</h4>
        </div>
    </div>
</div>