@import url(http://fonts.googleapis.com/css?family=Quicksand:400,600);

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #E8E8E8;
    font: 16px arial;
}

.navbar {
    background-color: white;
    color: black;
}

h3 {
    color: #F4C03D;
    text-shadow: 1px 1px black;
}

h4 {
    color: #cc7a00;
    text-shadow: 1px 1px black;
}

p {
    color: #cc7a00;
    text-shadow: 1px 1px black;
}

#map {
    height: 400px;
    width: 700px;
}

a.ActionClass {
    color: #cc7a00;
    text-shadow: 1px 1px black;
}

.NoShadow{
    text-shadow:none;
}

.HomeHeader{
    text-align:center;
    margin-top:15px;
    margin-bottom:25px;
}

#HomeTopRow {
    margin-bottom: 30px;
    height: 400px;
    width: 100%;
    border-radius: 5px 5px;
    box-shadow: 5px 5px gray;
    background-image: url('Images/HomePicture.png');
    background-size: cover;
}

#HomeRow1 {
    background-image: url('Images/Image3.jpg');
    background-position:10% 50%;
    background-size: cover;
    border-radius: 5px 5px;
    box-shadow: 5px 5px gray;
    height: 300px;
    max-width: 100%;
}

#HomeRow2 {
    background-image: url('Images/Image2.jpg');
    background-size: cover;
    border-radius: 5px 5px;
    box-shadow: 5px 5px gray;
    height: 300px;
    width: 100%;
}

#HomeColumns {
    background-color: slategrey;
    text-align: center;
    border-radius: 5px 5px;
    box-shadow: 5px 5px #515552;
}

.Card {
    background-color: #A9A5A5;
    padding: 15px;
    border-radius: 5px 5px;
    box-shadow: 5px 5px #5F4D4D;
    margin-bottom: 25px;
    opacity: .75;
}

.Scroll {
    height: 25vh;
    overflow-y: scroll;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
