@model AllergyFinder.Models.AllergenStatsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Allergan Stat Results</h2>

<div>
    <h4>Allergens that have the top chance of causing an allergy</h4>
    <hr />
    <table>
        @foreach (var line in Model.results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => line);
                </td>
            </tr>
        }




    </table>
</div>
