@{
    ViewBag.Title = "Remove a Custom Allergen";
 }

<div class="HomeHeader">
    <div class="Card">
        <h3>User Created Allergens</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_SideBarPartial")
    </div>
    <div class="col-md-8">
        <div class="Card">
            <body ng-app="allergenApp">
                <div ng-controller="allergenController">
                    <table class="table" ng-repeat="a in regdata">
                        <tr>
                            <td>
                                {{a.KnownAllergies}}
                            </td>
                            <td>
                                <a href="#" ng-click="Delete(a.id)">Delete</a>
                            </td>
                        </tr>

                    </table>

                </div>

            </body>
        </div>
    </div>
</div>

@section scripts{
<script src="~/Scripts/angular.min.js"></script>
<script src="~/JS/JSController.js"></script>
    }