@model AllergyFinder.Models.FindFoodInfoViewModel
@{
    ViewBag.Title = "FindFoodInfo";
}

<h2>FindFoodInfo</h2>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayName("Allergens found in this item")
        </dt>

        @foreach (var allergen in Model.allergens)
        {
            <dt>
                @Html.DisplayFor(model => allergen)
            </dt>
        }


    </dl>
</div>
<p>|
    @Html.ActionLink("Back to List", "Index")
</p>
