@model AllergyFinder.Models.FindFoodInfoViewModel
@{
    ViewBag.Title = "FindFoodInfo";
    TempData["foundAllergies"] = Model.toLogAllergens;
    TempData.Keep("MealName");
}

<div class="HomeHeader">
    <div class="Card">
        <h3>Allergens Found in This Item</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_SideBarPartial")
    </div>
    <div class="col-md-6">
        <div class="Card">

            @{
                List<string> allergenOfConcern = new List<string>();
                foreach (var allergen in Model.userAllergies)
                {
                    foreach (var foodAllergen in Model.allergens)
                    {
                        if (allergen.KnownAllergies == foodAllergen)
                        {
                            allergenOfConcern.Add(foodAllergen);
                            <h4 style="color:red; text-decoration:underline">WARNING: This food contains @foodAllergen which you have listed as a known allergy.</h4>
                        }
                    }
                }
            }
            @foreach (var allergen in Model.allergens)
            {
                   <p style="text-decoration:underline"><strong>@Html.DisplayFor(model => allergen)</strong></p>
            }
            
            @Html.ActionLink("Log This Food", "LogFood", new { routeId = 0 })
        </div>        
    </div>    
</div>

    
