@model IEnumerable<AllergyFinder.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Log a Known Allergy","LogAllergy")
@Html.ActionLink("Search for an Allergen in a Food","FindFoodItem")


