@model AllergyFinder.Models.CustomerIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="HomeHeader">
    <h3>Customer Home</h3>
</div>

<div class="row">
    <div class="col-md-2">        
        @Html.Partial("_SideBarPartial")
    </div>
    <div class="col-md-4">
        <div class="SideBar">
            <table class="table">
                <tr>
                    <th>
                        <h4>Food Name</h4>
                    </th>
                    <th></th>
                    <th></th>

                </tr>
                @{
                    if (Model != null && Model.retrievedFoods != null)
                    {
                        foreach (var item in Model.retrievedFoods)
                        {
                            <tr>
                                <td>
                                    <p>@Html.DisplayFor(modelItem => item.name)</p>
                                </td>
                                <td>
                                    <p>@Html.ActionLink("Find Allergens", "FindFoodInfo", new { NDBNo = item.ndbno, route = 0, mealName = item.name })</p>
                                </td>
                                <td>
                                    <p>@Html.ActionLink("Log This Food", "FindFoodInfo", new { NDBNo = item.ndbno, route = 1, mealName = item.name })</p>
                                </td>

                            </tr>
                        }
                    }
                }


            </table>
        </div>

    </div>

</div>


